<h1>My list</h1>
<hr class="dashed">

<% @tasks.each do |task| %>
  <div>
    <input type="checkbox" id="scales" name="scales">
    <label for="scales"><%= link_to task.title, task_path(task) %></label>
  </div>
<% end %>
<hr class="dashed">

<%= link_to('New task', new_path) %>
